@import "utils/libs";
@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
// @import "utils/font-awesome/fontawesome.scss";
// @import "utils/font-awesome/solid.scss";
// @import "utils/font-awesome/brands.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  .header {
    background-color: #000;
    // padding: 20px 0px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &-nav {
      display: flex;
      justify-content: center;
      &__link {
        color: $default-color;
        text-transform: uppercase;
        margin-right: 40px;
        padding: 10px 25px;
        border: 1px solid transparent;
        transition: border 0.2s cubic-bezier(0.35, 0.04, 0.76, 0.96);
        &:last-child {
          margin-right: 0px;
        }
        &:hover {
          border: 1px solid $default-color;
        }
      }
    }
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    // color: #000;
    h1 {
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 50px;
    }
    button {
      color: $default-color;
      font-size: 20px;
      padding: 10px 20px;
      background-color: $neutral-placeholder;
    }
    p {
      margin-top: 20px;
    }
  }
}

.add-background {
  background-color: $success-color;
  color: $default-color;
}
